<!-- BEGIN CARD -->
<div
  class="max-w-fit bg-white rounded-xl shadow-lg p-6 transition-all duration-300 hover:-translate-y-1 hover:shadow-xl animate-slide-up"
>
  <h3 class="text-xl font-bold text-indigo-800">BTC</h3>
  <h2 class="text-4xl md:text-4xl text-blue-900">
    <strong>$ 112,101.80</strong>
  </h2>

  <div class="flex gap-1 mt-2">
    <div
      class="text-gray-600 text-lg hover:bg-gray-200 flex items-center w-fit p-1 rounded-md"
    >
      <span class="material-icons-outlined text-green-800">arrow_upward</span>
      <span class="text-green-800">1.23%</span>
      <span>&nbsp;(24h)</span>
    </div>

    <div
      class="text-gray-600 text-lg hover:bg-gray-200 flex items-center w-fit p-1 rounded-md"
    >
      <span class="material-icons-outlined text-red-800">arrow_downward</span>
      <span class="text-red-800">-0.83%</span>
      <span>&nbsp;(1h)</span>
    </div>
  </div>

  <div>
    <h4 class="text-lg flex items-center text-gray-600">
      <span class="material-icons-outlined mr-2">alarm</span>
      alert at $ 111,000.00
    </h4>
  </div>
</div>
<!-- END CARD -->
